.width-custom {
    width: 70% !important;
}

.mr-custom {
    margin-right: 10% !important;
}

.passportPhoto {
    width: 100%;
    height: 100%;
    background: #ccc;
}

.bg-custom {
    background: #2b4a91;
}

.custom-btn {
    background: #2b4a91;
    border-radius: 0;
    position: relative;
    color: #fff;
}

.btn-zoom {
    width: 40px;
}

.toggle-pos {
    float: right;
    top: -38px;
}

.toggle_radio {
    position: relative;
    right: 0;
    top: -30px;
    ;
    background: rgba(0, 0, 0, .3);
    margin: 0 0;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 26px;
    width: 120px;
    transition: all .4s ease;
}

.toggle_radio.no {
    background: green;
    transition: all .4s ease;
}

.toggle_radio.yes {
    background: red;
    transition: all .4s ease;
}

.toggle_radio>* {
    float: left;
}

.toggle_radio input[type=radio] {
    display: none;
    /*position: fixed;*/
}

.toggle_radio label {
    font: 90%/1.618 "Source Sans Pro";
    color: rgba(255, 255, 255, .9);
    z-index: 0;
    display: block;
    width: 55px;
    height: 25px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    position: relative;
    top: 0;
}

.toggle_radio label:nth-of-type(2) {
    width: 10px;
}

.toggle_radio label:nth-of-type(1) {
    border-radius: 50px 0 0 50px;
}

.toggle_radio label:nth-of-type(3) {
    border-radius: 0 50px 50px 0;
}

.toggle_option_slider {
    z-index: 1;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    box-shadow: 2px 2px 4px rgba(75, 75, 75, .5);
    border: 1px solid #FFF;
}

.default-position {
    float: right;
    top: -38px;
    margin: 1px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-success:not(:disabled):not(.disabled).active {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .5);
}

.btn-warning:not(:disabled):not(.disabled).active {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, .5);
}

.btn-danger:not(:disabled):not(.disabled).active {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .5);
}


/*
label.btn:checked {
    background-color: #fff;
} */

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 591px) {
    .width-custom {
        width: 95% !important;
    }
}

@media only screen and (max-width: 768px) {
    .width-custom {
        width: 10% !important;
    }
    .mobile-position_radio {
        float: none;
        top: 5px;
        margin: 1px;
    }
    .mobile-position2_radio {
        float: none;
        top: -20px;
        margin: 1px;
    }
    .mobile-position_span {
        top: -80px;
        left: -3%;
        position: relative;
    }
    .mobile-position_span:only-of-type {
        top: -40px;
    }
    .mobile-position2_span {
        top: -40px;
        left: 66%;
        position: relative;
    }
}

@media only screen and (max-width: 500px) {
    .mobile-position_span {
        top: -120px !important;
        left: 60% !important;
    }
}
