<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/verification-queue']">Verification Queue</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">User Manager</li>
    </ol>
</nav>

<p>{{getAttribute('1050').Value}}</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <label for="">
                <b>userID</b>
                <span>xxx</span>
            </label>
            <label for="" class="ml-5">
                <b>Created date</b>
                <span>xxx</span>
            </label>
            <label for="" class="ml-5">
                <b>Update date</b>
                <span>xxx</span>
            </label>
            <label for="" class="ml-5">
                <b>User status</b>
                <span>xxx</span>

            </label>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="photoBlock col-12 mt-3">
                <div class="border mb-3">
                    <div class="passportPhoto mb-2">
                        <img src="{{passportPhoto}}" alt="photo" style="width: 100%; height: 100%; background: #ccc;">
                    </div>
                    <div class="zoom col-12 mb-3">
                        <button class="btn btn-zoom float-right ml-2">+</button>
                        <button class="btn btn-zoom float-right">-</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <label for="">Passport
                    <span class="text-danger">
                        <b> * </b>
                    </span>
                    <span class="badge badge-warning"> Waiting verification</span>
                </label>
                <div [hidden]='getAttributeValidation(attributeTypes.Gender) == 1' class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success">
                        <input type="radio" name="Gender" id="Passport_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="Gender" id="Passport_On_NA" checked disabled />Waiting</label>
                    <label class="btn btn-danger">
                        <input type="radio" name="Gender" id="Passport_On_Reject" />Reject</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="Name" class="col-form-label">First Name:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input value='{{getAttribute(attributeTypes.FirstName)}}' type="text" class="form-control width-custom mr-custom" id="firstname" name='firstname' required #firstname>
                <span [hidden]='!(getAttributeValidation(attributeTypes.FirstName) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.FirstName) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.FirstName) == 0)' class="badge badge">Waiting verification</span>

                <div [hidden]='getAttributeValidation(attributeTypes.FirstName) == 1' class="btn-group default-position " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.FirstName, statuses.Verified)">
                        <input type="radio" name="FirstName" id="FirstName_On" >Validatd</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="FirstName" id="FirstName_NA" checked disabled/>Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.FirstName, statuses.Reject)">
                        <input type="radio" name="FirstName" id="FirstName_Reject"  />Reject</label>
                </div>

            </div>
            <div class="form-group">
                <label for="Surname" class="col-form-label">Surname:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input value='{{getAttribute(attributeTypes.Surname)}}' type="text" class="form-control width-custom mr-custom" id="Surname" name='Surname'>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Surname) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Surname) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Surname) == 0)' class="badge badge-warning">Waiting verification</span>
            </div>
            <div class="form-group">
                <label for="MiddleName" class="col-form-label">Middle Name: </label>
                <input type="text" value='{{getAttribute(attributeTypes.MiddleName)}}' class="form-control  width-custom mr-custom" id="MiddleName" name='MiddleName'>
                <span [hidden]='!(getAttributeValidation(attributeTypes.MiddleName) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.MiddleName) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.MiddleName) == 0)' class="badge badge-warning">Waiting verification</span>

                <div [hidden]='getAttributeValidation(attributeTypes.MiddleName) == 1' class="btn-group default-position" data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.MiddleName, statuses.Verified)">
                        <input type="radio" name="MiddleName" id="MiddleName_On" >Validatd</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="MiddleName" id="MiddleName_NA" checked disabled/>Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.MiddleName, statuses.Reject)">
                        <input type="radio" name="MiddleName" id="MiddleName_Reject"  />Reject</label>
                </div>

                <!-- <div class="toggle_radio float-right">
                    <input type="radio" class="toggle_option" id="iddleName_вValidated" name="toggle_option" value="{{getAttribute(attributeTypes.MiddleName)}}">
                    <input type="radio" checked class="toggle_option" id="middleName_na" name="toggle_option" value="{{getAttribute(attributeTypes.MiddleName)}}" checked>
                    <input type="radio" class="toggle_option" id="middleName_reject" name="toggle_option" value="{{getAttribute(attributeTypes.MiddleName)}}">
                    <label for="iddleName_вValidated" class="bg-success">
                        <p>Validated</p>
                    </label>
                    <label for="middleName_na">
                        <p> </p>
                    </label>
                    <label for="middleName_reject" class="bg-danger">
                        <p>Reject</p>
                    </label>
                    <div class="toggle_option_slider"></div>
                </div> -->
            </div>
            <div class="form-group">
                <label for="Gender" class="col-form-label">Gender:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <select class="form-control  width-custom mr-custom" id="Gender" name='Gender' value='{{getAttribute(attributeTypes.Gender)}}'>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
                <div [hidden]='getAttributeValidation(attributeTypes.Gender) == 1' class="btn-group default-position " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.Gender, statuses.Verified)">
                        <input type="radio" name="Gender" id="Gender_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="Gender" id="Gender_NA" checked disabled/>Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.Gender, statuses.Rejected)">
                        <input type="radio" name="Gender" id="Gender_Reject" />Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.Gender) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Gender) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Gender) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="BirthDate" class="col-form-label">Birth Date:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input type="text" value='{{getAttribute(attributeTypes.BirthDate)}}' class="form-control  width-custom mr-custom" id="BirthDate" name='BirthDate'>

                <div [hidden]='getAttributeValidation(attributeTypes.BirthDate) == 1' class="btn-group default-position " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.BirthDate, statuses.Verified)">
                            <input type="radio" name="BirthDate" id="BirthDate_On">Validate</label>
                    <label class="btn btn-warning">
                            <input type="radio" name="BirthDate" id="BirthDate_NA" checked disabled/>Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.BirthDate, statuses.Rejected)">
                            <input type="radio" name="BirthDate" id="BirthDate_Reject" />Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.BirthDate) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.BirthDate) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.BirthDate) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="PassportType" class="col-form-label">Passport/ID Type:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <select value='{{getAttribute(attributeTypes.PassportType)}}' class="form-control  width-custom mr-custom" id="PassportType" name='PassportType'>
                    <option value="1">International Passport</option>
                    <option value="2">National Passport</option>
                    <option value="3">National ID</option>
                    <option value="4">International ID</option>
                </select>
                <div [hidden]='getAttributeValidation(attributeTypes.PassportType) == 1' class="btn-group default-position  " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.PassportType, statuses.Verified)">
                        <input type="radio" name="PassportType" id="PassportType_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="PassportType" id="PassportType_NA"  checked disabled/>Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.PassportType, statuses.Rejected)">
                        <input type="radio" name="PassportType" id="PassportType_Reject"/>Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportType) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportType) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportType) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="PassportNumber" class="col-form-label">Passport/ID Number:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input type="text" value='{{getAttribute(attributeTypes.PassportNumber)}}' class="form-control  width-custom mr-custom" id="PassportNumber" name='PassportNumber'>
                <div [hidden]='getAttributeValidation(attributeTypes.PassportNumber) == 1' class="btn-group default-position  " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.PassportNumber, statuses.Verified)">
                        <input type="radio" name="PassportNumber" id="PassportNumber_On" >Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="PassportNumber" id="PassportNumber_NA"  checked disabled/>Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.PassportNumber, statuses.Rejected)">
                        <input type="radio" name="PassportNumber" id="PassportNumber_Reject" />Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportNumber) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportNumber) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportNumber) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="PassportIssueDate" class="col-form-label">Passport/ID Issue Date:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input type="text" value='{{getAttribute(attributeTypes.PassportIssueDate)}}' class="form-control  width-custom mr-custom" id="PassportIssueDate" name='PassportIssueDate'>
                <div [hidden]='getAttributeValidation(attributeTypes.PassportIssueDate) == 1' class="btn-group default-position" data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.PassportIssueDate, statuses.Verified)">
                        <input type="radio" name="PassportIssueDate" id="PassportIssueDate_On" >Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="PassportIssueDate" id="PassportIssueDate_NA" checked disabled />Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.PassportIssueDate, statuses.Rejected)">
                        <input type="radio" name="PassportIssueDate" id="PassportIssueDate_Reject" />Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportIssueDate) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportIssueDate) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportIssueDate) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="PassportExpirationDate" class="col-form-label">Passport/ID Expiration Date: </label>
                <input value='{{getAttribute(attributeTypes.PassportExpirationDate)}}' type="text" class="form-control  width-custom mr-custom" id="PassportExpirationDate" name='PassportExpirationDate'>
                <div [hidden]='getAttributeValidation(attributeTypes.PassportExpirationDate) == 1' class="btn-group default-position  " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.PassportExpirationDate, statuses.Verified)">
                        <input type="radio" name="PassportExpirationDate" id="PassportExpirationDate_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="PassportExpirationDate" id="PassportExpirationDate_NA"  checked disabled/>Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.PassportExpirationDate, statuses.Rejected)">
                        <input type="radio" name="PassportExpirationDate" id="PassportExpirationDate_Reject">Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportExpirationDate) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportExpirationDate) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.PassportExpirationDate) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="photoBlock col-12 mt-3">
                <div class="passportPhoto mb-2">
                    <!-- [imageZoom]="addressPhoto" -->
                    <img src="{{addressPhoto}}" alt="photo" style="width: 100%; height: 100%; background: #ccc;">
                </div>
                <label for="">Address
                    <span class="text-danger">
                        <b> * </b>
                    </span>
                    <span class="badge badge-warning"> Waiting verification</span>
                </label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success">
                        <input type="radio" name="passportPhoto" id="Address_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="passportPhoto" id="Address_NA"  checked disabled/>Waiting</label>
                    <label class="btn btn-danger">
                        <input type="radio" name="passportPhoto" id="Address_Reject" />Reject</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="CountryCode" class="col-form-label">Country of residence:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input value="{{getCountryName(getAttribute(attributeTypes.CountryCode))}}" class="form-control  width-custom mr-custom" id="CountryCode" name='CountryCode'>
                <div [hidden]='getAttributeValidation(attributeTypes.CountryCode) == 1' class="btn-group default-position  " data-toggle="buttons">
                    <label class="btn btn-success">
                            <input type="radio" name="PassportExpirationDate" id="PassportExpirationDate_On">Validate</label>
                    <label class="btn btn-warning">
                            <input type="radio" name="PassportExpirationDate" id="PassportExpirationDate_NA" checked disabled />Waiting</label>
                    <label class="btn btn-danger">
                            <input type="radio" name="PassportExpirationDate" id="PassportExpirationDate_Reject" />Reject</label>
                </div>
                <span [hidden]='!(getAttributeValidation(attributeTypes.CountryCode) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.CountryCode) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.CountryCode) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="Zip" class="col-form-label">Zip:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>

                <span [hidden]='!(getAttributeValidation(attributeTypes.Zip) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Zip) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Zip) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="State" class="col-form-label">State: </label>
                <input value='{{getAttribute(attributeTypes.State)}}' type="text" class="form-control  width-custom mr-custom" id="State" name='State'>
                <div [hidden]='getAttributeValidation(attributeTypes.State) == 1' class="btn-group default-position  " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.State, statuses.Verified)">
                        <input type="radio" name="State" id="State_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="State" id="State_NA"  checked disabled/>Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.State, statuses.Rejected)">
                        <input type="radio" name="State" id="State_Reject"/>Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.State) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.State) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.State) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="City" class="col-form-label">City:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input type="text" value='{{getAttribute(attributeTypes.City)}}' class="form-control  width-custom mr-custom" id="City" name='City'>
                <div [hidden]='getAttributeValidation(attributeTypes.City) == 1' class="btn-group default-position  " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.City, statuses.Verified)">
                        <input type="radio" name="City" id="City_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="City" id="City_NA" checked disabled />Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.City, statuses.Rejected)">
                        <input type="radio" name="City" id="City_Reject"/>Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.City) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.City) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.City) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="Street" class="col-form-label">Street:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input type="text" value='{{getAttribute(attributeTypes.Street)}}' class="form-control width-custom mr-custom" id="Street" name='Street'>
                <div [hidden]='getAttributeValidation(attributeTypes.Street) == 1' class="btn-group default-position  " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.Street, statuses.Verified)">
                        <input type="radio" name="Street" id="Street_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="Street" id="Street_NA" checked disabled />Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.Street, statuses.Rejected)">
                        <input type="radio" name="Street" id="Street_Reject"/>Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.Street) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Street) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Street) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="House" class="col-form-label">House:
                    <span class='required fz-15'>
                        <span class="text-danger">
                            <b>*</b>
                        </span>
                    </span>
                </label>
                <input type="text" value='{{getAttribute(attributeTypes.House)}}' class="form-control  width-custom mr-custom" id="House" name='House'>
                <div [hidden]='getAttributeValidation(attributeTypes.House) == 1' class="btn-group default-position " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.House, statuses.Verified)">
                        <input type="radio" name="House" id="House_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="House" id="House_NA" checked disabled />Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.House, statuses.Rejected)">
                        <input type="radio" name="House" id="House_Reject"/>Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.House) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.House) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.House) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
            <div class="form-group">
                <label for="Flat" class="col-form-label">Flat: </label>
                <input value='{{getAttribute(attributeTypes.Flat)}}' type="text" class="form-control  width-custom mr-custom" id="Flat" name='Flat'>
                <div [hidden]='getAttributeValidation(attributeTypes.Flat) == 1' class="btn-group default-position  " data-toggle="buttons">
                    <label class="btn btn-success" (click)="changeStatus(attributeTypes.Flat, statuses.Verified)">
                        <input type="radio" name="Flat" id="Flat_On">Validate</label>
                    <label class="btn btn-warning">
                        <input type="radio" name="Flat" id="Flat_NA" checked disabled />Waiting</label>
                    <label class="btn btn-danger" (click)="changeStatus(attributeTypes.Flat, statuses.Rejected)">
                        <input type="radio" name="Flat" id="Flat_Reject"/>Reject</label>
                </div>

                <span [hidden]='!(getAttributeValidation(attributeTypes.Flat) == 1)' class="badge badge-success">Verified</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Flat) == 2)' class="badge badge-danger">Rejected</span>
                <span [hidden]='!(getAttributeValidation(attributeTypes.Flat) == 0)' class="badge badge-warning">Waiting verification</span>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-5">
            <div class="photoBlock col-12 mt-3">
                <div class="border mb-3">
                    <div class="passportPhoto mb-2">
                        <img src="{{userPhoto}}" alt="photo" style="width: 100%; height: 100%; background: #ccc;">
                    </div>
                    <div class="zoom col-12 mb-3">
                        <button class="btn btn-zoom float-right ml-2">+</button>
                        <button class="btn btn-zoom float-right">-</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <label for="">Selfie
                    <span class="text-danger">
                        <b> * </b>
                    </span>
                    <span class="badge badge-warning"> Waiting verification</span>
                </label>
                <button class="float-right">toggle</button>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn custom-btn bg-custom float-right mr-5" (click)="saveChanges()">SAVE CHANGES</button>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12 mb-5">
            <button class="btn custom-btn bg-danger float-right mr-5">VERIFY USER</button>
            <button class="btn custom-btn bg-success float-right mr-5">VERIFY USER</button>
        </div>
    </div>
    <div class="alert alert-danger" [hidden]='!badSend' role="alert">
        Something went wrong! Try once again later.
    </div>
    <div class="alert alert-success" [hidden]='!goodSend' role="alert">
        Ok!
    </div>
</div>